.clang-format jimmy.m.gong@gmail.com
.clang-tidy jimmy.m.gong@gmail.com
.clang-tidy-ignore jimmy.m.gong@gmail.com
.coveragerc jimmy.m.gong@gmail.com
.dir-locals.el jimmy.m.gong@gmail.com
.editorconfig jimmy.m.gong@gmail.com
.github/ISSUE_TEMPLATE.md jimmy.m.gong@gmail.com
.gitignore jimmy.m.gong@gmail.com
.travis.yml jimmy.m.gong@gmail.com
AUTHORS.rst jimmy.m.gong@gmail.com
CHANGELOG.rst jimmy.m.gong@gmail.com
CMakeLists.txt jimmy.m.gong@gmail.com
CONTRIBUTING.rst jimmy.m.gong@gmail.com
HISTORY.rst jimmy.m.gong@gmail.com
LICENSE jimmy.m.gong@gmail.com
LICENSE.txt jimmy.m.gong@gmail.com
MANIFEST.in jimmy.m.gong@gmail.com
Pipfile jimmy.m.gong@gmail.com
README.org jimmy.m.gong@gmail.com
abquant.pro jimmy.m.gong@gmail.com
abquant.profile jimmy.m.gong@gmail.com
abquant/__init__.py jimmy.m.gong@gmail.com
abquant/abquant.py jimmy.m.gong@gmail.com
abquant/cli.py jimmy.m.gong@gmail.com
abquant/config.py jimmy.m.gong@gmail.com
abquant/data/__init__.py 
abquant/data/base.py jimmy.m.gong@gmail.com
abquant/data/tdx.py jimmy.m.gong@gmail.com
abquant/data/tdx2/__init__.py 
abquant/data/tdx2/future.py 
abquant/data/tdx2/index.py 
abquant/data/tdx2/stock.py jimmy.m.gong@gmail.com
abquant/data/tdx_api.py jimmy.m.gong@gmail.com
abquant/data/ths.py 
abquant/utils/__init__.py jimmy.m.gong@gmail.com
abquant/utils/cache.py jimmy.m.gong@gmail.com
abquant/utils/dict_func.py jimmy.m.gong@gmail.com
abquant/utils/logger.py jimmy.m.gong@gmail.com
abquant/utils/market.py jimmy.m.gong@gmail.com
abquant/utils/parallelism.py jimmy.m.gong@gmail.com
abquant/utils/singleton.py jimmy.m.gong@gmail.com
abquant/utils/tdx.py jimmy.m.gong@gmail.com
bind11/CMakeLists.txt jimmy.m.gong@gmail.com
bind11/glue/CMakeLists.txt jimmy.m.gong@gmail.com
bind11/glue/config jimmy.m.gong@gmail.com
bind11/glue/db jimmy.m.gong@gmail.com
bind11/glue/main.cpp jimmy.m.gong@gmail.com
bind11/test/CMakeLists.txt jimmy.m.gong@gmail.com
bind11/test/test.py jimmy.m.gong@gmail.com
conanfile.py jimmy.m.gong@gmail.com
cxx/CMakeLists.txt jimmy.m.gong@gmail.com
cxx/abqbase.pri jimmy.m.gong@gmail.com
cxx/cmake/CacheClean.cmake jimmy.m.gong@gmail.com
cxx/cmake/TargetCmake.cmake jimmy.m.gong@gmail.com
cxx/config/application.ini jimmy.m.gong@gmail.com
cxx/config/database.ini jimmy.m.gong@gmail.com
cxx/config/development.ini jimmy.m.gong@gmail.com
cxx/config/internet_media_types.ini jimmy.m.gong@gmail.com
cxx/config/logger.ini jimmy.m.gong@gmail.com
cxx/config/mongodb.ini jimmy.m.gong@gmail.com
cxx/config/redis.ini jimmy.m.gong@gmail.com
cxx/config/routes.cfg jimmy.m.gong@gmail.com
cxx/config/validation.ini jimmy.m.gong@gmail.com
cxx/cxx.pro jimmy.m.gong@gmail.com
cxx/include/abquant/actions/abquant.hpp jimmy.m.gong@gmail.com
cxx/include/abquant/actions/indicator.hpp jimmy.m.gong@gmail.com
cxx/include/abquant/actions/stock.hpp jimmy.m.gong@gmail.com
cxx/include/abquant/actions/stockday.hpp jimmy.m.gong@gmail.com
cxx/include/abquant/actions/stockmin.hpp jimmy.m.gong@gmail.com
cxx/include/abquant/actions/stockxdxr.hpp jimmy.m.gong@gmail.com
cxx/include/abquant/actions/utils.hpp jimmy.m.gong@gmail.com
cxx/include/abquant/actions/xdxr.hpp jimmy.m.gong@gmail.com
cxx/include/abquant/controllers/applicationcontroller.h jimmy.m.gong@gmail.com
cxx/include/abquant/controllers/indexdaycontroller.h jimmy.m.gong@gmail.com
cxx/include/abquant/controllers/stockdaycontroller.h jimmy.m.gong@gmail.com
cxx/include/abquant/controllers/stockmincontroller.h jimmy.m.gong@gmail.com
cxx/include/abquant/controllers/stockxdxrcontroller.h jimmy.m.gong@gmail.com
cxx/include/abquant/headers.pri jimmy.m.gong@gmail.com
cxx/include/abquant/helpers/applicationhelper.h jimmy.m.gong@gmail.com
cxx/include/abquant/models/indexday.h jimmy.m.gong@gmail.com
cxx/include/abquant/models/mongoobjects/indexdayobject.h jimmy.m.gong@gmail.com
cxx/include/abquant/models/mongoobjects/stockdayobject.h jimmy.m.gong@gmail.com
cxx/include/abquant/models/mongoobjects/stockminobject.h jimmy.m.gong@gmail.com
cxx/include/abquant/models/mongoobjects/stockxdxrobject.h jimmy.m.gong@gmail.com
cxx/include/abquant/models/stockday.h jimmy.m.gong@gmail.com
cxx/include/abquant/models/stockmin.h jimmy.m.gong@gmail.com
cxx/include/abquant/models/stockxdxr.h jimmy.m.gong@gmail.com
cxx/installheaders.pri jimmy.m.gong@gmail.com
cxx/src/actions/abquant.hpp jimmy.m.gong@gmail.com
cxx/src/actions/actions.pro jimmy.m.gong@gmail.com
cxx/src/actions/aglobal.hpp jimmy.m.gong@gmail.com
cxx/src/actions/indicator.cpp 
cxx/src/actions/indicator.hpp jimmy.m.gong@gmail.com
cxx/src/actions/indicator_p.hpp 
cxx/src/actions/stock.cpp jimmy.m.gong@gmail.com
cxx/src/actions/stock.hpp jimmy.m.gong@gmail.com
cxx/src/actions/stock_p.hpp jimmy.m.gong@gmail.com
cxx/src/actions/stockday.cpp jimmy.m.gong@gmail.com
cxx/src/actions/stockday.hpp jimmy.m.gong@gmail.com
cxx/src/actions/stockmin.cpp jimmy.m.gong@gmail.com
cxx/src/actions/stockmin.hpp jimmy.m.gong@gmail.com
cxx/src/actions/stockxdxr.cpp jimmy.m.gong@gmail.com
cxx/src/actions/stockxdxr.hpp jimmy.m.gong@gmail.com
cxx/src/actions/utils.cpp 
cxx/src/actions/utils.hpp jimmy.m.gong@gmail.com
cxx/src/actions/xdxr.hpp jimmy.m.gong@gmail.com
cxx/src/controllers/CMakeLists.txt jimmy.m.gong@gmail.com
cxx/src/controllers/applicationcontroller.cpp jimmy.m.gong@gmail.com
cxx/src/controllers/applicationcontroller.h jimmy.m.gong@gmail.com
cxx/src/controllers/controllers.pro jimmy.m.gong@gmail.com
cxx/src/controllers/indexdaycontroller.cpp jimmy.m.gong@gmail.com
cxx/src/controllers/indexdaycontroller.h jimmy.m.gong@gmail.com
cxx/src/controllers/stockdaycontroller.cpp jimmy.m.gong@gmail.com
cxx/src/controllers/stockdaycontroller.h jimmy.m.gong@gmail.com
cxx/src/controllers/stockmincontroller.cpp jimmy.m.gong@gmail.com
cxx/src/controllers/stockmincontroller.h jimmy.m.gong@gmail.com
cxx/src/controllers/stockxdxrcontroller.cpp jimmy.m.gong@gmail.com
cxx/src/controllers/stockxdxrcontroller.h jimmy.m.gong@gmail.com
cxx/src/helpers/CMakeLists.txt jimmy.m.gong@gmail.com
cxx/src/helpers/applicationhelper.cpp jimmy.m.gong@gmail.com
cxx/src/helpers/applicationhelper.h jimmy.m.gong@gmail.com
cxx/src/helpers/helpers.pro jimmy.m.gong@gmail.com
cxx/src/models/CMakeLists.txt jimmy.m.gong@gmail.com
cxx/src/models/indexday.cpp jimmy.m.gong@gmail.com
cxx/src/models/indexday.h jimmy.m.gong@gmail.com
cxx/src/models/models.pro jimmy.m.gong@gmail.com
cxx/src/models/mongoobjects/indexdayobject.h jimmy.m.gong@gmail.com
cxx/src/models/mongoobjects/stockdayobject.h jimmy.m.gong@gmail.com
cxx/src/models/mongoobjects/stockminobject.h jimmy.m.gong@gmail.com
cxx/src/models/mongoobjects/stockxdxrobject.h jimmy.m.gong@gmail.com
cxx/src/models/stockday.cpp jimmy.m.gong@gmail.com
cxx/src/models/stockday.h jimmy.m.gong@gmail.com
cxx/src/models/stockmin.cpp jimmy.m.gong@gmail.com
cxx/src/models/stockmin.h jimmy.m.gong@gmail.com
cxx/src/models/stockxdxr.cpp jimmy.m.gong@gmail.com
cxx/src/models/stockxdxr.h jimmy.m.gong@gmail.com
cxx/src/src.pro jimmy.m.gong@gmail.com
cxx/test/actions/actions.pro jimmy.m.gong@gmail.com
cxx/test/actions/stockday/main.cpp jimmy.m.gong@gmail.com
cxx/test/actions/stockday/stockday.pro jimmy.m.gong@gmail.com
cxx/test/actions/stockmin/main.cpp jimmy.m.gong@gmail.com
cxx/test/actions/stockmin/stockmin.pro jimmy.m.gong@gmail.com
cxx/test/test.pro jimmy.m.gong@gmail.com
docs/_static/.gitignore jimmy.m.gong@gmail.com
docs/authors.rst jimmy.m.gong@gmail.com
docs/changelog.rst jimmy.m.gong@gmail.com
docs/conf.py jimmy.m.gong@gmail.com
docs/contributing.rst jimmy.m.gong@gmail.com
docs/history.rst jimmy.m.gong@gmail.com
docs/index.rst jimmy.m.gong@gmail.com
docs/installation.rst jimmy.m.gong@gmail.com
docs/license.rst jimmy.m.gong@gmail.com
docs/make.bat jimmy.m.gong@gmail.com
docs/readme.rst jimmy.m.gong@gmail.com
docs/usage.rst jimmy.m.gong@gmail.com
requirements.txt jimmy.m.gong@gmail.com
requirements_dev.txt jimmy.m.gong@gmail.com
screenshot/jimmy.alipay.png 
screenshot/jimmy.wechat.png 
setup.cfg jimmy.m.gong@gmail.com
setup.py jimmy.m.gong@gmail.com
shiboken2/CMakeLists.txt jimmy.m.gong@gmail.com
shiboken2/glue/CMakeLists.txt jimmy.m.gong@gmail.com
shiboken2/glue/bindings.h jimmy.m.gong@gmail.com
shiboken2/glue/bindings.xml jimmy.m.gong@gmail.com
shiboken2/pyside2.pri jimmy.m.gong@gmail.com
shiboken2/shiboken2.pro jimmy.m.gong@gmail.com
shiboken2/test/CMakeLists.txt jimmy.m.gong@gmail.com
shiboken2/test/config jimmy.m.gong@gmail.com
shiboken2/test/db jimmy.m.gong@gmail.com
shiboken2/test/test.py jimmy.m.gong@gmail.com
sip/.gitkeep 
tests/__init__.py jimmy.m.gong@gmail.com
tests/conftest.py jimmy.m.gong@gmail.com
tests/test.py jimmy.m.gong@gmail.com
tests/test_abquant.py jimmy.m.gong@gmail.com
tests/test_get_price.py jimmy.m.gong@gmail.com
tests/test_skeleton.py jimmy.m.gong@gmail.com
tox.ini jimmy.m.gong@gmail.com
