# -*- mode: sh; -*-

export ABQ_HOME=${PWD}
export ABQ_CXX_HOME="${ABQ_HOME}/cxx"
export LD_LIBRARY_PATH="${ABQ_HOME}/lib:${LD_LIBRARY_PATH}"
export PYTHONPATH="${ABQ_HOME}/lib:${PYTHONPATH}"

# pyenv-virtualenv
# (rootdir)/.envrc : direnv configuration file
# see https://direnv.net/
# pyversion=3.7-dev
pyversion=$(pyenv version | gawk -F" " '{ print $1 }')
pvenv=$(basename $PWD)

# 1.
# use python ${pyversion}
# 2. Create the virtualenv if not yet done
# layout virtualenv ${pyversion} ${pvenv}
# 3. activate it
layout activate ${pvenv}-${pyversion}

unset PS1
